*{
    margin: 0;
    padding: 0;
}
#top{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
ul{
    display: flex;
}
ul li{
    display: inline-block;
    padding: 15px;
    list-style: none;
    /* border: 1px solid red; */
    border-radius: 10px;
}
ul li:hover{
    background-color: rgb(168, 168, 162);
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    /* border: 1px solid red; */
    padding: 20px;
}
ul li a:hover{
    color: black;
}
.task-title{
    font-size: 40px;
    text-align: center;
    /* text-shadow: 10px 10px 20px; */
    background-color: rgb(195, 195, 195);
}
.search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.search-section{
    height: 200PX;
    padding: 20PX 0px;
    background-color: #202124; 
    color: white;  
}
.btn{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    margin-left: 3px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(47, 52, 52);
    color: white;
}
.search-line>label{
    font-weight: 500;
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: rgb(255, 127, 127);
}
.form-section{
    background-color: aliceblue;
    /* height:250px; */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 20px;
    align-items:flex-start;
}
.btn2{
    border: none;
    background-color: rgb(181, 57, 57);
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
    cursor: pointer;
    color: aliceblue;
}
.btn2:hover{
    background-color: rgb(144, 190, 130);
    color: black;
}
.form-section>form{
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
    align-items: flex-start;
    border: 1px solid black;
    padding: 10px;
}